client new login
<h1>Login To Report A Bug</h1>
<%= form_with url: client_login_path  do |f| %>  <!-- show errors for user instance if present --> 
  <%= f.label :email %> <!-- display user input fields for login -->
  <%= f.email_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br>
  <%= f.submit "Login" %>
<% end %>
<p>First time reporting a bug? <a href="<%= client_signup_path %>">Signup Here</a></p>
  