<div class="container">
  <h4>Opened: </h4> 
  <h5><%= opened_date %></h5> <!--od(proghelper)-->
  
  <h4>Status: </h4>
  <h5><%= program.status %></h5>
  
  <h4>Closed: </h4>
  <h5><%= closed_date ? (closed_date) : ("Still Supported") %></h5> <!--cd(proghelper)-->
  
  <h4>Project Manager:</h4> <!-- make this a partial and render a collect for bugs-->
  <% program.users.get_prj_managers.each do |pm| %>
    <%= pm.name %><br>
  <% end %>
  
  <h4>Developers:</h4>  <!-- make this a partial and render a collect for bugs-->
  <% program.users.get_devs.each do |d| %>
    <%= d.name %><br>
  <% end %>
</div>