<h1>Edit <%= @program.name %></h1>

<%= render partial: 'layouts/errors', locals: {object: @program} %>

<%= form_with model: @program do |f| %>
  <%= f.label :name, "Project Name:" %> <!-- !!render project_info partial -->
  <%= f.text_field :name, required: true %>
  <br>
  <%= f.label :description, "Description:" %>
  <%= f.text_area :description, required: true %>
  <br>
  <h4>Development Status:</h4>  <!-- !!render dev_status partial -->
  <%= f.radio_button :status, "develpment", required: true %>
  <%= f.label :status, "Development" %>
  <br>
  <%= f.radio_button :status, "testing", required: true %>
  <%= f.label :status, "Testing" %>
  <br>
  <%= f.radio_button :status, "production", required: true %>
  <%= f.label :status, "Production" %>
  <br>
  <h3>Project Managers:</h3>
  <div class="col-6 table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @prj_managers.each do |pm| %>
          <tr>
            <td><%= check_box_tag "program[user_ids][]", pm.id, check?(pm.id) %></td>
            <td><%= pm.name%></td>
            <td><%= pm.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <h3>Developers:</h3>
  <div class="col-6 table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @devs.each do |dev| %>
          <tr>
            <td><%= check_box_tag "program[user_ids][]", dev.id, check?(dev.id) %></td>
            <td><%= dev.name%></td>
            <td><%= dev.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= f.label :logo, "Add or Change Logo: "%><br>
  <%= f.file_field :logo %><br>

  <%= f.check_box "#{closed_date.to_s}", {checked: closed?, name: "program[closed_date]", unchecked_value: "N/A"}, Date.current%>
  <%= f.label :closed_date, "Remove Support for Program" %>
  <br>
  <%= f.submit "Update Program" %>
<% end %>