
<div class="container text-center">
  <div class="align-content-center mt-3 text-white">
    <h1>Programs Currently Supported</h1>
  </div>
  <div class="align-content-center mt-3">
    <%= link_to("New Program", new_program_path, class: "btn btn-primary") if admin? %>
  </div>
  <div class="container mt-3">
    <div class="container">
      <% @programs.each_slice(3) do |(p1, p2, p3)| %>
        <div class="row">
          <div class="col-md-4"><%= render(partial: 'program', locals: {program: p1}) if p1 %></div>
          <div class="col-md-4"><%= render(partial: 'program', locals: {program: p2}) if p2%></div>
          <div class="col-md-4"><%= render(partial: 'program', locals: {program: p3}) if p3%></div>
        </div>
      <% end %>
    </div>
  </div>
  <h3 class="text-white"> <%= "Currently No Programs" if !@programs.present? %> </h3>
</div>



