<h1>Create Program</h1>

<%= render partial: 'layouts/errors', locals: {object: @program} %>

<%= form_with model: @program do |f| %>
  <%= render partial: 'form', locals: {f: f} %>

  <h3>Project Managers:</h3>
  <div class="col-6 table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @prj_managers.each do |pm| %>
          <tr>
            <td><%= check_box_tag "program[user_ids][]", pm.id %></td>
            <td><%= pm.name%></td>
            <td><%= pm.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <h3>Developers:</h3>
  <div class="col-6 table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @devs.each do |dev| %>
          <tr>
            <td><%= check_box_tag "program[user_ids][]", dev.id %></td>
            <td><%= dev.name%></td>
            <td><%= dev.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= f.label :logo, "Upload Logo: "%><br>
  <%= f.file_field :logo %><br>
  <%= f.hidden_field :opened_date, value: Date.current %>
  <%= f.submit "Create Program" %>
<% end %>