Program show
<% @bugs.each do |k, v| %> <!-- make this a partial and render a collect for bugs-->
  <h3><%= "#{k.capitalize} Bugs: #{v.count}" %></h3>
<% end %>

<h5>Opened: <%= opened_date %></h5>

<h5>Status: <%= @program.status %></h5>

<h5>Closed: <%= closed_date %></h5>

<h5>Description:</h5>
<%= @program.description %>

<h3>Project Manager:</h3> <!-- make this a partial and render a collect for bugs-->
<% @program.users.get_prj_managers.each do |pm| %>
  <%= pm.name %><br>
<% end %>

<h3>Developers:</h3>  <!-- make this a partial and render a collect for bugs-->
<% @program.users.get_devs.each do |d| %>
  <%= d.name %><br>
<% end %>
<br>
<% if @program.logo.attached? %>
  <image src="<%=(url_for(@program.logo))%>" alt="program logo" width="80px"></image>
<% else %>
  <%= image_tag("default_logo.svg", width: 80) %>
<% end %>
<br>
<%= link_to "Update Program", edit_program_path, class: "btn btn-primary" %> 
<%= link_to "View Bugs", program_bugs_path(@program), class: "btn btn-primary" %>
