<h1><%= @program.name %></h1>
<%= link_to "Update Program", edit_program_path, class: "btn btn-primary" %> 
<%= link_to "View Bugs", program_bugs_path(@program), class: "btn btn-primary" %>

<%= render partial: 'program_logo', locals: {program: @program} %>
<%= render partial: 'bug_counts', locals: {bugs: @bugs}  %>
<%= render partial: 'program_info', locals: {program: @program} %>


