client new signup
<h1>Client Signup</h1>
<h3>Create account to report bug</h3>
<!-- alert errors if present -->
<%= form_with model: @user, url: client_signup_path  do |f| %>  <!-- show errors for user instance if present -->
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |mes| %>
        <li><%= mes %></li>
      <% end %>
    </ul>
  <% end %>  

  <%= f.label :name %>  <!-- display user input fields for new user -->
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br>
  <%= f.hidden_field :role %>
  <%= f.submit "Signup" %>
<% end %>
