<h1>Edit Employee Info</h1>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<%= form_with model: @user do |f| %>  <!-- show errors for user instance if present -->

  <%= render partial: 'name_field', locals: {f: f} %>

  <%= f.label :email %>
  <%= f.email_field :email, size: "45" %><br>

  <%= render(partial: 'role_field', locals: {f: f}) if admin?%>

  <%= f.submit "Update Employee" %>
<% end %>
