<h1>Edit Employee Info</h1>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<%= form_with model: @user do |f| %>  <!-- show errors for user instance if present -->

  <%= f.label :name %>  <!-- display user input fields for new user -->
  <%= f.text_field :name, size: "40" %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email, size: "45" %>
  <br>
  <%= f.label :role %>
  <%= f.select :role , ["Client", "Developer", "Project Manager", "Admin"] %>

  <%= f.submit "Update Employee" %>
<% end %>
