<!-- Render the partial that displays users-->
<!-- Render partial do show search fields-->
<h3>Employees:</h3>
  <%= form_tag users_path, method: "post" do %>
    Current Filter: <%= @filter %>
    <%= link_to "See All Employees", users_path, class: "btn btn-sm btn-primary" %>
  <% end %>
  <div class="col-9 table-wrapper-scroll-y my-custom-scrollbar"> <!-- create partial that renders employee scroll bar-->
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.name%></td>
            <td><%= u.email%></td>
            <td><%= u.role %></td>
            <td><%= link_to "Update", edit_user_path(u), class: "btn btn-sm btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>