<h1><%= @user.name %></h1>
<h4><%= "Role: #{@user.role}" %></h4>

<%= "Programs: #{@user.programs.count}" %><br>
<%= "Bugs #{@user.bugs.count}" %>

<h2>Top - Tasks</h2>
<% @user.tasks.each do |t| %>
  <%= render partial: 'user_info', locals: {t: t} %>
<% end %>