<h1><%= @user.name %></h1>
<h4><%= "Role: #{@user.role}" %></h4>

<%= "Programs: #{@user.programs.count}" %><br>
<%= "Bugs #{@user.bugs.count}" %>

<h2>Top - Tasks</h2>

<% @user.tasks.each do |t| %>
  <%= t.program.name %><br>
  <%= t.title %><br>
  <%= t.urgency %><br><br>
<% end %>