<div class="row">
  <div class="p-2">
    <h4>Status: </h4>
    <h5><%= @bug.status %></h5>
  </div>  

  <div class="p-2">
    <h4>Priority: </h4>
    <h5><%= @bug.priority %></h5>
  </div>

  <div class="p-2">
    <h4>Type: </h4>
    <h5><%= @bug.category %></h5>
  </div>

  <div class="p-2">
    <h4>Overview: </h4>
    <h5><%= @bug.overview %></h5>
  </div>

  <div class="p-2">
    <h4>Description: </h4>
    <h5><%= @bug.description %></h5>
  </div>

  <div class="p-2">
    <h4>Update For Client: </h4>
    <h5><%= @bug.update_for_client %></h5>
  </div>
</div>