<h1>Report New Bug for <%= @bug.program.name %></h1>

<%= render partial: 'layouts/errors', locals: {object: @bug} %>

<%= form_with model: ([@bug.program, @bug]) do |f| %>  <!-- build bug form with needed attributes-->
  
  <%= render partial: 'form', locals: {f: f} %>
  
  <!-- DO NOT INCLUDE IN UPDATE FORM -->
  <%= f.hidden_field :created, value: Date.current %> <!-- hidden field for created attributed-->
  <%= f.hidden_field :program_id, value: @bug.program.id %>  <!-- hidden field for program id-->
  <%= f.hidden_field :status, value: "pending" %> <!-- hidden field for created attributed-->
  
  <%= f.submit "Report Bug" %>
<% end %>