<div class="container text-white text-center mt-5">
  <h1><%= "#{@bug.program.name}" %></h1>
  <h4><%= "Bug Id: #{@bug.id}"%></h4><br>
  
  <%= render partial: "show_client", locals: {bug: @bug} if current_user.role === "Client" %>
  <%= render partial: "show_employee", locals: {bug: @bug} if current_user.role != "Client" %>

  <%= link_to "Back", :back, class: "btn btn-sm btn-primary mt-5"  %>
</div>  
