<!DOCTYPE html>
<html>
  <head>
    <title>BugTracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br><br>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active"href="<%= user_path(current_user)%>">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="<%= programs_path %>">Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">My Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">My Bugs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="#">Logout</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
