<!DOCTYPE html>
<html>
  <head>
    <title>BugTracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <% if current_user %>
      <%= render 'layouts/flash' %>
      <ul class="nav flex-column">
        <%= display_navbar %> <!--#dn(apphelper)-->
      </ul>
      <% else %>
        <div class="bg-img img-fluid">
          <%= render 'layouts/flash' %>
          <img src="<%= asset_path('logo_login.png')%>" class="rounded mx-auto d-block" alt="logo" width="300">
          <%= yield :login %>
        </div>
      <% end %>
      

      <%= yield %>
    </div>
  </body>
</html>
